@import 'tailwindcss';


@layer components {
    @keyframes left-to-right {
        0% {
            transform: translateX(-80%);
            opacity: 0;
            visibility: hidden;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }

    }

    .image {
        animation: left-to-right 1.5s ease-in-out forwards;
    }

    @keyframes right-to-left {
        0% {
            transform: translateX(100%);
            opacity: 0;
            visibility: hidden;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }

    }
    .paragraphs {
        animation: right-to-left 1.5s ease-in-out forwards;
    }

    @keyframes appear {
        0% {
            transform: scale(0);
            opacity: 0;
            visibility: hidden;
        }
        100% {
            transform: scale(1);
            opacity: 1;
            visibility: visible;
        }

       
    }
    .image2 {
        animation: appear 3s ease-in-out forwards;
        animation-timeline: view();
        animation-range: entry 0;
    }
    .dress2 {
        animation: appear 3s ease-in-out forwards;
        animation-timeline: view();
        animation-range: entry 0;
    }

    @keyframes scale-up {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.2);
        }

    }

    .visit:hover {
        animation: scale-up 0.5s ease-in-out forwards;
    }

}